*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e0f0f;
}
.slide{
    width: 1100px;
    height: 570px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}
.slides{
    width: 100%;
    display: flex;
}
.imgs img{
    width: 1100px;
    height: 570px;
}
.bt{
    position: absolute;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: -5px;
    background: transparent;
}
.bt:hover{
    transform: scale(1.1, 1.1); /*almenta o tamanho*/
}
.bt i{
    color: #ffffff;
    font-size: 60px;
}
#bt-prox{
    top: 50%;
    right: 10%;
}
#bt-voltar{
    top: 50%;
    left: 10%;
}
.balls{
    position: absolute;
    width: 1100px;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.balls div{
    transition: all 0.5s;
    padding: 6px;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px 0 10px;
}
.balls div:hover{
    background-color: #fff;
}
.imgAtual{
    transition: all 0.5s;
    background-color: #fff;
}

.imgs img.toLeft{
    margin-right: 1100px;
}
.imgs img.toRight{
    margin-left: 1100px;
}