*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
}
.slide{
    width: 80%;
    height: 570px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}